.board-row {
    display: flex;
    justify-content: center; /* Add this line to center the board rows */
    margin-bottom: 10px;
  }
  
  .square {
    width: 5%;
    height: 30px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 18px;
  }
  
  .square:hover {
    background-color: #ccc;
  }
  
  /* Add this section to center the entire board */
  .board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to 100vh to center the board vertically */
  }